
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
*, :after, :before {
  box-sizing: border-box;
}
body{
  margin: 0;
}
body,
html {
  font-family: $font-stack;
  font-size: $fs-base;
}

html {
  scroll-behavior: smooth;
}
