@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
// Fonts
$font-stack: "Open Sans", sans-serif;
//Images
$urlImg: "../app/src/images/";
$urlLogos: "../app/src/logos/";
//Font-size
$fs-base: 16px; // base for 1rem
$nav-items:18px;
//Colors
$c-white: #fff;
$c-black: #000;
$primary-color: #e84d0f;
$text-color: #262626;

//Breakpoints
$breakpoint-xs: 360px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
