@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
// Fonts
$font-stack: "Open Sans", sans-serif;
//Images
$urlImg: "../app/src/images/";
$urlLogos: "../app/src/logos/";
$urlIcons: "../app/src/icons/";
//Font-size

//base (base = 16px)
$fs-base-plus: 1.125rem; //18px
$fs-base: 1rem;         // 16px
$fs-sm: 0.875rem;       // 14px
$fs-xs: 0.75rem;        // 12px
$fs-h1: 3.5rem;         // 56px
$fs-h2: 3rem;           // 48px
$fs-h3: 2.5rem;         // 40px
$fs-h4: 2.25rem;        // 36px
$fs-h5: 1.5rem;         // 24px
$fs-h6: 1.25rem;        // 20px

//font-weight
$fw-light: 300;
$fw-normal: 400;
$fw-semibold: 500;
$fw-bold: 600;
$fw-extra-bold: 900;

//Colors
$c-white: #fff;
$c-white-100:#f1f1f1;

$c-black: #000;
$c-gray-200: #ccc;
$c-gray-300: #666;
$c-gray-400:#454545;
$c-gray-700:#262626;

$primary-color: #e84d0f;
$orange-600:#e84e0e;
$orange-700: #e74d0d;

//components
$nav-items: $fs-base-plus;
$tooltip-gray:$c-gray-400;
$text-color: $c-gray-700;
$graph-labels:$c-gray-400;
$graph-low:#fed7aa;
$graph-medium:#fb923c;
$graph-high:#f87171;
$color-subtle: $c-gray-300;
$color-border:$c-gray-200;

//Breakpoints
$breakpoint-xxs: 360px;
$breakpoint-xs: 475px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
