.container {
  width: 100%;
  overflow-x: hidden;
 margin: 0 auto;
  padding: 0;

  @include min-xxs {
    max-width: 100%;
  }
  @include min-xxl {
    max-width: 1400px;
  }
  .container-inner{
    width: 100%;
    margin: 0 auto;

    @include min-xxs {
      max-width: 80%;
    }

    @include min-xxl {
      max-width: 980px;
    }
  }
}
